:root{
    --black: #252324;
    --white: #FAF5EB;
    --blue: #B6CDEE;
    --gray: #CCD5CD;
    --red: #FFC3C6;
    --yellow: #F4F186;
}

*{
    margin: 0;
    padding: 0;                                                                                                                                 
}

body{
    background-color: var(--black);
}

.prompt,
.option1,
.option2,
.option3,
.option4,
.next-button,
.score-fraction,
.score-percent{
    font-family: "Arial";
    font-size: 2rem;   
}

.box,
.prompt,
.option1,
.option2,
.option3,
.option4,
.next-button,
.ovalue1,
.ovalue2,
.ovalue3,
.ovalue4,
.next-button-text,
.score-border,
.score-fraction,
.score-percent{
    position: relative;
}

.box{
    width: 50rem;
    height: 40rem;
    background-color: var(--white);
    left: 53rem;
    top: 15rem;
    border-radius: 1.5rem;
}

.prompt{
    width: 35rem;
    height: 10rem;
    background-color: var(--blue);
    left: 7.5rem;
    top: 5rem;
    border-radius: 1rem;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.option1,
.option2,
.option3,
.option4{
    width: 10rem;
    height: 6rem;
    background-color: var(--gray);
    border-radius: 0.75rem;
}

.option1{
    left: 10rem;
    top: 7.5rem;
    display: inline-block;
}

.option2{
    left: 20rem;
    top: 7.5rem;
    display: inline-block;
}

.option3{
    left: 10rem;
    top: 10rem;
}

.option4{
    left: 30.325rem;
    top: 4rem;
}

.ovalue1,
.ovalue2,
.ovalue3,
.ovalue4{
    left: 4rem;
    top: 2rem;
}

.next-button{
    width: 15rem;
    height: 3rem;
    background-color: var(--yellow);
    border-radius: 0.75rem;
    left: 17.5rem;
    top: 6.5rem;
}

.next-button-text{
    left: 5.2rem;
    top: 0.4rem;
}

.score-border{
    width: 30rem;
    height: 10rem;
    background-color: var(--gray);
    border-radius: 0.75rem;
    left: 10rem;
    top: -10rem;
}

.score-fraction,
.score-percent{
    left: 0.5rem;
    top: 2.5rem;
}